<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo</title>
</head>
<body>

<form action="." method="POST"> {% csrf_token %}
    <input type="text" name="a">
    <input type="submit" value="add">




</form>
<ul>
    {% for each in obj %}

    <li> {{ each.item }}</li>


     {% endfor %}

</ul>



<script>

    class Car{
      constructor(carname){
        this.carname=carname



      }
    tellcar(color){
      console.log(this.carname+"color is "+color)
    }






    }

   class Model extends Car{
        constructor(carname,modelname){
             super(carname)
             this.modelname=modelname


        }


       tellmodel() {
       console.log(this.carname +"is"+this.modelname)
       }




   }








car=new Model('Ford','Mustang')
car.tellcar('red')
car.tellmodel()






</script>



</body>
</html>